@page
@model WebApplication.Pages.LesTransactionsArgent.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transaction d'argent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionArgent.Montant" class="control-label"></label>
                <input asp-for="TransactionArgent.Montant" class="form-control" />
                <span asp-validation-for="TransactionArgent.Montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionArgent.Joueur" class="control-label"></label>
                <select asp-for="TransactionArgent.Joueur" class ="form-control" asp-items="ViewBag.Joueur"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransactionArgent.Repas" class="control-label"></label>
                <select asp-for="TransactionArgent.Repas" class ="form-control" asp-items="ViewBag.Repas"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
