@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Clarence Project</h1>
<ul>
    <li>
        <a asp-page="/LesJoueurs/Index">Les joueurs</a>
    </li>
    <li>
        <a asp-page="/LesTypesRepas/Index">Les types de repas</a>
    </li>
    <li>
        <a asp-page="/LesRepas/Index">Les repas</a>
    </li>
    <li>
        <a asp-page="/LesTransactionsArgent/Index">Les transactions d'argent</a>
    </li>
</ul>
